body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #5c75ec; */
}
#root {
  aspect-ratio: 1512 / 982;
  height: 100vh;
}
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Lyusung";
  src: url("./assets/Lyusung.ttf") format("truetype");
}
@font-face {
  font-family: "TestMartinaPlanijn";
  src: url("./assets/TestMartinaPlantijn-Medium.otf");
}
