body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #5c75ec; */
}
#root {
  aspect-ratio: 1512 / 982;
  height: 100vh;
}
* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}

/* @font-face {
  font-family: "Chusung";
  src: url("./assets/Chusung.woff2");
} */
@font-face {
  font-family: "TestMartinaPlanijn";
  src: url("./assets/TestMartinaPlantijn-Medium.otf");
}
