body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5c75ec;
}
@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #101318;
  }
}
* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

/* @font-face {
  font-family: "Chusung";
  src: url("./assets/Chusung.woff2");
} */
@font-face {
  font-family: "TestMartinaPlanijn";
  src: url("./assets/TestMartinaPlantijn-Medium.otf");
}
